*{
    margin: 0;
    padding: 0;
}



#navbar{
    display: flex;
    align-items: center;
    position: relative;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* NavBar Logo Section */


#logo img{
    height: 65px;
    margin: 7px 19px;
}

/* NavBar List Section */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}



#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 15px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    height: 400px;
}

#home::before{
    content: "";
    background: url(../bg1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

.h-primary{
    font-size: 2.3rem;
    text-align: center;
    padding: 12px;
}

.btn{
    color: white;
    border: 2px solid white;
    background-color: orange;
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: orange;
}
